body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: #0f2d5c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo span{
    background-color: rgb(165, 142, 99);
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    color: rgb(226, 10, 10);
    text-decoration: none;
}

.inicio{
    background: linear-gradient(to right, #686b4f, #86a7cf);
    color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
}

.texto h1{
    font-size: 50px;
}

.texto span{
    color: rgb(0, 0, 0);
}

.texto h3{
    font-size: 25px;
    font-weight: normal;
}

.texto p{
    font-size: 18px;
    width: 500px;
    line-height: 1.5;
}

.foto img{
    border-radius: 100%;
    border: 5px solid #ffffff;
    padding: 90px;
}

.sobre-mi{
    background:#f2f2f2;
    padding:80px 60px;
    text-align:center;
}

.etiqueta-commit{
    display:inline-block;
    border:2px dashed red;
    color:red;
    padding:8px 18px;
    border-radius:8px;
    margin-bottom:20px;
    font-size:14px;
}

.sobre-mi h2{
    color:#183763;
    font-size:50px;
    margin:10px 0;
}

.linea{
    width:70px;
    height:4px;
    background:orange;
    margin:10px auto 25px auto;
    border-radius:5px;
}

.subtitulo{
    color:#6f7d8f;
    font-size:22px;
    margin-bottom:60px;
}

.sobre-mi-contenido{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:50px;
    text-align:left;
}

.info-personal{
    width:60%;
}

.info-personal p{
    font-size:24px;
    color:#3d4b5f;
    line-height:1.8;
    margin-bottom:25px;
}

.info-personal blockquote{
    background:#f7f1eb;
    border-left:5px solid orange;
    padding:20px;
    border-radius:8px;
    color:#555;
    font-style:italic;
}

.datos{
    width:32%;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.08);
}

.datos h3{
    color:#183763;
    font-size:30px;
    margin-bottom:25px;
}

.datos p{
    padding:12px 0;
    border-bottom:1px solid #ddd;
    font-size:22px;
    color:#444;
}

.habilidades{
    background:#f2f2f2;
    padding:80px 60px;
    text-align:center;
}

.habilidades h2{
    color:#183763;
    font-size:50px;
    margin:10px 0;
}

.tabla-contenedor{
    width:90%;
    margin:50px auto 30px auto;
    background:white;
    border-radius:14px;
    overflow:hidden;
    box-shadow:0 0 12px rgba(0,0,0,0.08);
}

table{
    width:100%;
    border-collapse:collapse;
    text-align:left;
}

thead{
    background:#183763;
    color:white;
}

th{
    padding:18px;
    font-size:20px;
}

td{
    padding:18px;
    font-size:20px;
    color:#333;
    border-bottom:1px solid #ddd;
}

.barra{
    width:160px;
    height:10px;
    background:#d9dfe8;
    border-radius:20px;
}

.progreso{
    height:10px;
    border-radius:20px;
}

.html{
    width:90%;
    background:#1f5ca8;
}

.css{
    width:82%;
    background:#3aa26a;
}

.js{
    width:76%;
    background:#e6953b;
}

.git{
    width:72%;
    background:#8b61d9;
}

.react{
    width:65%;
    background:#e24b4b;
}

.listas-habilidades{
    width:90%;
    margin:30px auto 0 auto;
    display:flex;
    justify-content:space-between;
    gap:30px;
    text-align:left;
}

.caja-lista{
    width:48%;
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 0 12px rgba(0,0,0,0.06);
}

.caja-lista h3{
    color:#183763;
    font-size:28px;
    margin-bottom:20px;
}

.caja-lista ul,
.caja-lista ol{
    padding-left:25px;
    color:#4b5b70;
    line-height:2;
    font-size:20px;
}
